body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top {
    padding-left: 2%; /* Cambiado a porcentaje para ser responsive */
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #1306c9;
    padding: 20px;
}

.logo {
    width: 100px; /* Ancho fijo */
    height: auto; /* Mantiene la proporción del logo */
    margin-right: 2%;
}

.login-container {
    flex: 1;
}

.login-form {
    display: flex;
    align-items: center;
    width: 80%; /* Cambia el ancho según sea necesario */
    margin: auto; /* Centra el formulario */
}

.login-form input {
    margin: 0 1%; /* Reduce el espaciado */
    padding: 5px; /* Reduce el padding interno */
    flex: 1; /* Permite que el input ocupe espacio disponible */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}

.login-form button {
    padding: 5px; /* Reduce el padding del botón */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}


.menu-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1px;
}

.menu-form {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button {
    padding: 10px;
    width: 100%;
    border: none;
}

.noticias {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1px;
    background-color: #1306c9;
}





/* Media queries para mejorar la responsividad */
@media (max-width: 768px) {
    .login-form {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: stretch; /* Alinea los elementos al ancho del contenedor */
    }

    .login-form input {
        margin: 10px 0; /* Espaciado vertical */
    }

    .button {
        width: auto; /* Ajusta el ancho del botón */
    }

    .menu-form {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    }

    .logo {
        max-width: 50%; /* Aumenta el tamaño del logo en pantallas pequeñas */
    }
}
