/* Fondo de la página */
body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Contenedor del encabezado */
.header-container {
    background-color: #1E90FF;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Estilo del logo */
.logo {
    max-width: 150px;
}

/* Paleta de colores */
.color-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.color-code {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin-right: 20px;
}

.color-box {
    width: 300px; /* Ancho mayor */
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
