body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 150px; /* Ajusta el tamaño del logo */
    margin: 20px; /* Espaciado alrededor del logo */
}

.menuIcon {
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    display: none; /* Ocultar por defecto */
}

nav {
    display: block; /* Mostrar siempre por defecto */
    width: 100%; /* Ocupar todo el ancho */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}

nav ul {
    list-style-type: none; /* Quitar los estilos de lista */
    padding: 0;
    text-align: center; /* Centrar el contenido */
}

nav li {
    display: inline; /* Mostrar los elementos de la lista en línea */
    margin: 0 20px; /* Espaciado entre los elementos */
}

nav a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-size: 18px; /* Tamaño de fuente */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .menuIcon {
        display: block; /* Mostrar el menuIcon en pantallas pequeñas */
    }
    
    nav {
        display: none; /* Ocultar el nav por defecto */
        position: fixed; /* Posicionarlo de forma fija */
        top: 0;
        left: 0;
        width: 100%; /* Ocupar todo el ancho */
        height: 100%; /* Ocupar toda la altura */
        background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    }

    nav.active {
        display: block; /* Mostrar el nav cuando se activa */
    }
}
